@big-carousel-height: 600px;

.big-carousel {
  height: @big-carousel-height;

  .item {
    height: @big-carousel-height;
    background-color: @black;
  }

  .carousel-panel-top {
    top: 22%;
  }

  .carousel-panel-left {
    left: 20%;
  }

  .carousel-panel-right {
    right: 20%;
  }

  .carousel-panel {
    h1, h2, h3, h4, h4, p, li {
      margin-top: @padding-large-vertical;
      color: @white;
    }
    position: absolute;
    padding: @padding-large-vertical;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid @gray-dark;
  }

  .carousel-caption {
    z-index: 10;
  }

  .carousel-inner {
    .item {
      .slide-1 {
        background-image: url('../images/slide_1.jpg');
      }

      .slide-2 {
        background-image: url('../images/slide_2.jpg');
      }

      .slide-3 {
        background-image: url('../images/slide_3.jpg');
      }

      .container {
        background-size: cover;
        background-position: 50%;
        height: @big-carousel-height;
      }
    }
  }

  @media (min-width: 768px) {
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  }
}
