@big-carousel-height: 100%;

.big-carousel {
  height: @big-carousel-height;

  .item {
    height: @big-carousel-height;
  }

  .carousel-indicators {
    bottom: 110px;
  }

  .carousel-panel-top {
    top: 22%;
  }

  .carousel-panel-left {
    left: 20%;
  }

  .carousel-panel-right {
    right: 20%;
  }

  .carousel-panel {
    h1, h2, h3, h4, h4, p, li {
      margin-top: @padding-large-vertical;
      color: @white;

      a {
        color: @white;
        &:hover, &:focus {
          color: @gray-lighter;
          text-decoration: none;
        }
      }
    }
    position: absolute;
    padding: @padding-large-vertical;
    max-width: 400px;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid @gray-dark;
    overflow: hidden;
  }

  .carousel-caption {
    z-index: 10;
  }

  .carousel-inner {
    .item {
      .slide-1 {
        background-image: url('../images/slide_1.jpg');
      }

      .slide-2 {
        background-image: url('../images/slide_2.jpg');
      }

      .slide-3 {
        background-image: url('../images/slide_3.jpg');
      }

      background-size: cover;
      background-position: 50%;
      height: @big-carousel-height;
    }
  }

  @media (min-width: 768px) {
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  }

  @media (max-width: @screen-sm-max) {
    .carousel-panel-left {
      left: 10%;
    }

    .carousel-panel-right {
      right: 10%;
    }
  }
}
