.featurette-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #fafafa;
  margin-top: -100px;
  box-shadow: 0 10px 10px -6px #777;

  hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .featurette {
    .featurette-image {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h1, h2, h3 {
      margin-top: 35px;
    }

    span.glyphicon-menu-down {
      margin-top: 50px;
    }
  }
}
