.featurette-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #fafafa;
  margin-top: -100px;

  .featurette {
    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
      margin: 30px;
    }

    hr {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @media (min-width: 768px) {
      .featurette-heading {
        font-size: 36px;
      }
    }
  }
}
