.featurette-content {
  position: relative;
  background-color: #fff;
  margin-top: -100px;
  margin-bottom: 50px;
  box-shadow: 0 8px 18px -2px #777;

  .featurette {
    p {
      text-align: justify;
    }

    span.glyphicon-menu-down {
      margin-top: 50px;
      margin-bottom: 10px;
    }

    .pull-left {
      margin-right: 10px;
    }

    .pull-right {
      margin-left: 10px;
    }
  }

  .footer {
    .text-center();
    margin-top: 50px;
    padding-top: 10px;
    background-color: @navbar-default-bg;
    color: @white;
  }
}
