.navbar {
  transition: background-color .2s ease-in-out;
  transition: padding .2s ease-in-out;

  .navbar-brand {
    cursor: default;
  }

  span.caret {
    margin-left: 10px;
  }

  .dropdown-menu {
    a {
      color: 000;

      &:hover, &:active, &:focus {
        color: #fff;
        background-color: @brand-primary !important;
      }
    }
  }
}

.navbar-transparent {
  background-color: transparent;
  padding: 15px;
  border: 0px;

  .active, .open {
    a {
      background-color: rgba(255,255,255, 0.3) !important;
    }
  }
}
